[Gatekeeper::Main]
Home={{ ansible_ens224.ipv4.address }},{{ ansible_ens192.ipv4.address }}
Bind={{ ansible_ens224.ipv4.address }}
Name={{ ansible_hostname }}
TimeToLive=300
CompareAliasType=0
CompareAliasCase=0
TraceLevel=2
UseBroadcastListener=0

[GkStatus::Auth]
rule=allow
shutdown=forbid

[RoutedMode]
GKRouted=1
H245Routed=1
CallSignalPort=1720
SupportNATedEndpoints=1
EnableGnuGkNATTraversal=1
ForceNATKeepAlive=1
;EnableH46017=1
;EnableH46018=1
;H46018KeepAliveInterval=19
;H46018NoNat=0
;EnableH46023=1
;H46023STUN=stun.ekiga.net,stun.fwdnet.net,stun.ideasip.com,stun.l.google.com:19302,stunserver.org
;H46023PublicIP=1
;H46023SignalGKRouted=1
AcceptNeighborsCalls=1
AcceptUnregisteredCalls=1
DropCallsByReleaseComplete=1
RemoveH245AddressFromSetup=0
AlwaysRewriteSourceCallSignalAddress=1
Q931PortRange=20000-20999
H245PortRange=30000-30999

[Proxy]
Enable=1
InternalNetwork=10.0.0.0/8,192.168.0.0/16
T120PortRange=40000-40999
RTPPortRange=50000-50999

[RoutingPolicy]
default=explicit,internal,dns,parent

[LogFile]
Filename=/var/log/gnugk/log.log
Rotate=Daily
RotateTime=23:59

[Gatekeeper::Acct]
FileAcct=sufficient;stop
default=accept

[FileAcct]
DetailFile=/var/log/gnugk/calls.log
Rotate=daily
RotateTime=23:59
TimestampFormat=MySQL
CDRString=CDR|%n| Start: %{connect-time} | End: %{disconnect-time} | ---CALLER---> %{caller-ip}:%{caller-port} | %{src-info}  <---CALLER--- | ---CALLED---> %{callee-ip}:%{callee-port} | %{dest-info} <---CALLED--- | %g;

[GkStatus::Message]
Compact=0
;RCF=%{IP:Port}|%{Aliases}|%{Endpoint_Type}|%{EndpointID}|%{NATType}|%{Vendor}
URQ=%{IP:Port}|%{Aliases}|%{Endpoint_Type}|%{EndpointID}|%{NATType}|%{Vendor}|%{EndpointRASAddr}|%{URQReason}
IRQ=%{IP:Port}|%{Aliases}
UCF=%{IP:Port}|%{Aliases}%{src-info}

[RasSrv::PermanentEndpoints]
77.108.102.114=Velesstroy server;5111,5222,5333,5444,5555,5666,5777,5888
195.68.180.206=Velesstroy MCU;5999
84.47.147.107=Moscow;5471,5218,5217,5234,5024,5109,5231,5209,5230,5235,5226,5227,5236,5229,5025,5219,5224,5212,5216,5223,5228,5238,5240,5233,5237,5210,5238,5208,5207,5220,5006,5008,5002,5009,5103,5101,5030,5005,5110,5105,5033,5033,5104,5010,5011,5012,5014,5015,5016,5017,5018,5026,5019,5022,5001,5004,5102,5029,5023,5107,5021,5031,5023,5003

[RasSrv::AssignedAlias]
5000=phone:5000
5001=phone:5001
5002=phone:5002
5003=phone:5003
5004=phone:5004
5005=phone:5005
5006=phone:5006
5007=phone:5007
5008=phone:5008
5009=phone:5009
5010=phone:5010
5011=phone:5011
5012=phone:5012
5013=phone:5013
5014=phone:5014
5015=phone:5015
5016=phone:5016
5017=phone:5017
5018=phone:5018
5019=phone:5019
5020=phone:5020
5021=phone:5021
5022=phone:5022
5023=phone:5023
5024=phone:5024
5025=phone:5025
5026=phone:5026
5027=phone:5027
5028=phone:5028
5029=phone:5029
5030=phone:5030
5031=phone:5031
5032=phone:5032
5033=phone:5033
5034=phone:5034
5035=phone:5035
5036=phone:5036
5037=phone:5037
5038=phone:5038
5039=phone:5039
5040=phone:5040
5041=phone:5041
5042=phone:5042
5043=phone:5043
5044=phone:5044
5045=phone:5045
5046=phone:5046
5047=phone:5047
5048=phone:5048
5049=phone:5049
5050=phone:5050
5051=phone:5051
5052=phone:5052
5053=phone:5053
5054=phone:5054
5055=phone:5055
5056=phone:5056
5057=phone:5057
5058=phone:5058
5059=phone:5059
5060=phone:5060
5061=phone:5061
5062=phone:5062
5063=phone:5063
5064=phone:5064
5065=phone:5065
5066=phone:5066
5067=phone:5067
5068=phone:5068
5069=phone:5069
5070=phone:5070
5071=phone:5071
5072=phone:5072
5073=phone:5073
5074=phone:5074
5075=phone:5075
5076=phone:5076
5077=phone:5077
5078=phone:5078
5079=phone:5079
5080=phone:5080
5081=phone:5081
5082=phone:5082
5083=phone:5083
5084=phone:5084
5085=phone:5085
5086=phone:5086
5087=phone:5087
5088=phone:5088
5089=phone:5089
5090=phone:5090
5091=phone:5091
5092=phone:5092
5093=phone:5093
5094=phone:5094
5095=phone:5095
5096=phone:5096
5097=phone:5097
5098=phone:5098
5099=phone:5099
5100=phone:5100
5101=phone:5101
5102=phone:5102
5103=phone:5103
5104=phone:5104
5105=phone:5105
5106=phone:5106
5107=phone:5107
5108=phone:5108
5109=phone:5109
5110=phone:5110
5111=phone:5111
5112=phone:5112
5113=phone:5113
5114=phone:5114
5115=phone:5115
5116=phone:5116
5117=phone:5117
5118=phone:5118
5119=phone:5119
5120=phone:5120
5121=phone:5121
5122=phone:5122
5123=phone:5123
5124=phone:5124
5125=phone:5125
5126=phone:5126
5127=phone:5127
5128=phone:5128
5129=phone:5129
5130=phone:5130
5131=phone:5131
5132=phone:5132
5133=phone:5133
5134=phone:5134
5135=phone:5135
5136=phone:5136
5137=phone:5137
5138=phone:5138
5139=phone:5139
5140=phone:5140
5141=phone:5141
5142=phone:5142
5143=phone:5143
5144=phone:5144
5145=phone:5145
5146=phone:5146
5147=phone:5147
5148=phone:5148
5149=phone:5149
5150=phone:5150
5151=phone:5151
5152=phone:5152
5153=phone:5153
5154=phone:5154
5155=phone:5155
5156=phone:5156
5157=phone:5157
5158=phone:5158
5159=phone:5159
5160=phone:5160
5161=phone:5161
5162=phone:5162
5163=phone:5163
5164=phone:5164
5165=phone:5165
5166=phone:5166
5167=phone:5167
5168=phone:5168
5169=phone:5169
5170=phone:5170
5171=phone:5171
5172=phone:5172
5173=phone:5173
5174=phone:5174
5175=phone:5175
5176=phone:5176
5177=phone:5177
5178=phone:5178
5179=phone:5179
5180=phone:5180
5181=phone:5181
5182=phone:5182
5183=phone:5183
5184=phone:5184
5185=phone:5185
5186=phone:5186
5187=phone:5187
5188=phone:5188
5189=phone:5189
5190=phone:5190
5191=phone:5191
5192=phone:5192
5193=phone:5193
5194=phone:5194
5195=phone:5195
5196=phone:5196
5197=phone:5197
5198=phone:5198
5199=phone:5199
5200=phone:5200
5201=phone:5201
5202=phone:5202
5203=phone:5203
5204=phone:5204
5205=phone:5205
5206=phone:5206
5207=phone:5207
5208=phone:5208
5209=phone:5209
5210=phone:5210
5211=phone:5211
5212=phone:5212
5213=phone:5213
5214=phone:5214
5215=phone:5215
5216=phone:5216
5217=phone:5217
5218=phone:5218
5219=phone:5219
5220=phone:5220
5221=phone:5221
5222=phone:5222
5223=phone:5223
5224=phone:5224
5225=phone:5225
5226=phone:5226
5227=phone:5227
5228=phone:5228
5229=phone:5229
5230=phone:5230
5231=phone:5231
5232=phone:5232
5233=phone:5233
5234=phone:5234
5235=phone:5235
5236=phone:5236
5237=phone:5237
5238=phone:5238
5239=phone:5239
5240=phone:5240
5241=phone:5241
5242=phone:5242
5243=phone:5243
5244=phone:5244
5245=phone:5245
5246=phone:5246
5247=phone:5247
5248=phone:5248
5249=phone:5249
5250=phone:5250
5251=phone:5251
5252=phone:5252
5253=phone:5253
5254=phone:5254
5255=phone:5255
5256=phone:5256
5257=phone:5257
5258=phone:5258
5259=phone:5259
5260=phone:5260
5261=phone:5261
5262=phone:5262
5263=phone:5263
5264=phone:5264
5265=phone:5265
5266=phone:5266
5267=phone:5267
5268=phone:5268
5269=phone:5269
5270=phone:5270
5271=phone:5271
5272=phone:5272
5273=phone:5273
5274=phone:5274
5275=phone:5275
5276=phone:5276
5277=phone:5277
5278=phone:5278
5279=phone:5279
5280=phone:5280
5281=phone:5281
5282=phone:5282
5283=phone:5283
5284=phone:5284
5285=phone:5285
5286=phone:5286
5287=phone:5287
5288=phone:5288
5289=phone:5289
5290=phone:5290
5291=phone:5291
5292=phone:5292
5293=phone:5293
5294=phone:5294
5295=phone:5295
5296=phone:5296
5297=phone:5297
5298=phone:5298
5299=phone:5299
5300=phone:5300
5301=phone:5301
5302=phone:5302
5303=phone:5303
5304=phone:5304
5305=phone:5305
5306=phone:5306
5307=phone:5307
5308=phone:5308
5309=phone:5309
5310=phone:5310
5311=phone:5311
5312=phone:5312
5313=phone:5313
5314=phone:5314
5315=phone:5315
5316=phone:5316
5317=phone:5317
5318=phone:5318
5319=phone:5319
5320=phone:5320
5321=phone:5321
5322=phone:5322
5323=phone:5323
5324=phone:5324
5325=phone:5325
5326=phone:5326
5327=phone:5327
5328=phone:5328
5329=phone:5329
5330=phone:5330
5331=phone:5331
5332=phone:5332
5333=phone:5333
5334=phone:5334
5335=phone:5335
5336=phone:5336
5337=phone:5337
5338=phone:5338
5339=phone:5339
5340=phone:5340
5341=phone:5341
5342=phone:5342
5343=phone:5343
5344=phone:5344
5345=phone:5345
5346=phone:5346
5347=phone:5347
5348=phone:5348
5349=phone:5349
5350=phone:5350
5351=phone:5351
5352=phone:5352
5353=phone:5353
5354=phone:5354
5355=phone:5355
5356=phone:5356
5357=phone:5357
5358=phone:5358
5359=phone:5359
5360=phone:5360
5361=phone:5361
5362=phone:5362
5363=phone:5363
5364=phone:5364
5365=phone:5365
5366=phone:5366
5367=phone:5367
5368=phone:5368
5369=phone:5369
5370=phone:5370
5371=phone:5371
5372=phone:5372
5373=phone:5373
5374=phone:5374
5375=phone:5375
5376=phone:5376
5377=phone:5377
5378=phone:5378
5379=phone:5379
5380=phone:5380
5381=phone:5381
5382=phone:5382
5383=phone:5383
5384=phone:5384
5385=phone:5385
5386=phone:5386
5387=phone:5387
5388=phone:5388
5389=phone:5389
5390=phone:5390
5391=phone:5391
5392=phone:5392
5393=phone:5393
5394=phone:5394
5395=phone:5395
5396=phone:5396
5397=phone:5397
5398=phone:5398
5399=phone:5399
5400=phone:5400
5401=phone:5401
5402=phone:5402
5403=phone:5403
5404=phone:5404
5405=phone:5405
5406=phone:5406
5407=phone:5407
5408=phone:5408
5409=phone:5409
5410=phone:5410
5411=phone:5411
5412=phone:5412
5413=phone:5413
5414=phone:5414
5415=phone:5415
5416=phone:5416
5417=phone:5417
5418=phone:5418
5419=phone:5419
5420=phone:5420
5421=phone:5421
5422=phone:5422
5423=phone:5423
5424=phone:5424
5425=phone:5425
5426=phone:5426
5427=phone:5427
5428=phone:5428
5429=phone:5429
5430=phone:5430
5431=phone:5431
5432=phone:5432
5433=phone:5433
5434=phone:5434
5435=phone:5435
5436=phone:5436
5437=phone:5437
5438=phone:5438
5439=phone:5439
5440=phone:5440
5441=phone:5441
5442=phone:5442
5443=phone:5443
5444=phone:5444
5445=phone:5445
5446=phone:5446
5447=phone:5447
5448=phone:5448
5449=phone:5449
5450=phone:5450
5451=phone:5451
5452=phone:5452
5453=phone:5453
5454=phone:5454
5455=phone:5455
5456=phone:5456
5457=phone:5457
5458=phone:5458
5459=phone:5459
5460=phone:5460
5461=phone:5461
5462=phone:5462
5463=phone:5463
5464=phone:5464
5465=phone:5465
5466=phone:5466
5467=phone:5467
5468=phone:5468
5469=phone:5469
5470=phone:5470
5471=phone:5471
5472=phone:5472
5473=phone:5473
5474=phone:5474
5475=phone:5475
5476=phone:5476
5477=phone:5477
5478=phone:5478
5479=phone:5479
5480=phone:5480
5481=phone:5481
5482=phone:5482
5483=phone:5483
5484=phone:5484
5485=phone:5485
5486=phone:5486
5487=phone:5487
5488=phone:5488
5489=phone:5489
5490=phone:5490
5491=phone:5491
5492=phone:5492
5493=phone:5493
5494=phone:5494
5495=phone:5495
5496=phone:5496
5497=phone:5497
5498=phone:5498
5499=phone:5499
5500=phone:5500
5501=phone:5501
5502=phone:5502
5503=phone:5503
5504=phone:5504
5505=phone:5505
5506=phone:5506
5507=phone:5507
5508=phone:5508
5509=phone:5509
5510=phone:5510
5511=phone:5511
5512=phone:5512
5513=phone:5513
5514=phone:5514
5515=phone:5515
5516=phone:5516
5517=phone:5517
5518=phone:5518
5519=phone:5519
5520=phone:5520
5521=phone:5521
5522=phone:5522
5523=phone:5523
5524=phone:5524
5525=phone:5525
5526=phone:5526
5527=phone:5527
5528=phone:5528
5529=phone:5529
5530=phone:5530
5531=phone:5531
5532=phone:5532
5533=phone:5533
5534=phone:5534
5535=phone:5535
5536=phone:5536
5537=phone:5537
5538=phone:5538
5539=phone:5539
5540=phone:5540
5541=phone:5541
5542=phone:5542
5543=phone:5543
5544=phone:5544
5545=phone:5545
5546=phone:5546
5547=phone:5547
5548=phone:5548
5549=phone:5549
5550=phone:5550
5551=phone:5551
5552=phone:5552
5553=phone:5553
5554=phone:5554
5555=phone:5555
5556=phone:5556
5557=phone:5557
5558=phone:5558
5559=phone:5559
5560=phone:5560
5561=phone:5561
5562=phone:5562
5563=phone:5563
5564=phone:5564
5565=phone:5565
5566=phone:5566
5567=phone:5567
5568=phone:5568
5569=phone:5569
5570=phone:5570
5571=phone:5571
5572=phone:5572
5573=phone:5573
5574=phone:5574
5575=phone:5575
5576=phone:5576
5577=phone:5577
5578=phone:5578
5579=phone:5579
5580=phone:5580
5581=phone:5581
5582=phone:5582
5583=phone:5583
5584=phone:5584
5585=phone:5585
5586=phone:5586
5587=phone:5587
5588=phone:5588
5589=phone:5589
5590=phone:5590
5591=phone:5591
5592=phone:5592
5593=phone:5593
5594=phone:5594
5595=phone:5595
5596=phone:5596
5597=phone:5597
5598=phone:5598
5599=phone:5599
5600=phone:5600
5601=phone:5601
5602=phone:5602
5603=phone:5603
5604=phone:5604
5605=phone:5605
5606=phone:5606
5607=phone:5607
5608=phone:5608
5609=phone:5609
5610=phone:5610
5611=phone:5611
5612=phone:5612
5613=phone:5613
5614=phone:5614
5615=phone:5615
5616=phone:5616
5617=phone:5617
5618=phone:5618
5619=phone:5619
5620=phone:5620
5621=phone:5621
5622=phone:5622
5623=phone:5623
5624=phone:5624
5625=phone:5625
5626=phone:5626
5627=phone:5627
5628=phone:5628
5629=phone:5629
5630=phone:5630
5631=phone:5631
5632=phone:5632
5633=phone:5633
5634=phone:5634
5635=phone:5635
5636=phone:5636
5637=phone:5637
5638=phone:5638
5639=phone:5639
5640=phone:5640
5641=phone:5641
5642=phone:5642
5643=phone:5643
5644=phone:5644
5645=phone:5645
5646=phone:5646
5647=phone:5647
5648=phone:5648
5649=phone:5649
5650=phone:5650
5651=phone:5651
5652=phone:5652
5653=phone:5653
5654=phone:5654
5655=phone:5655
5656=phone:5656
5657=phone:5657
5658=phone:5658
5659=phone:5659
5660=phone:5660
5661=phone:5661
5662=phone:5662
5663=phone:5663
5664=phone:5664
5665=phone:5665
5666=phone:5666
5667=phone:5667
5668=phone:5668
5669=phone:5669
5670=phone:5670
5671=phone:5671
5672=phone:5672
5673=phone:5673
5674=phone:5674
5675=phone:5675
5676=phone:5676
5677=phone:5677
5678=phone:5678
5679=phone:5679
5680=phone:5680
5681=phone:5681
5682=phone:5682
5683=phone:5683
5684=phone:5684
5685=phone:5685
5686=phone:5686
5687=phone:5687
5688=phone:5688
5689=phone:5689
5690=phone:5690
5691=phone:5691
5692=phone:5692
5693=phone:5693
5694=phone:5694
5695=phone:5695
5696=phone:5696
5697=phone:5697
5698=phone:5698
5699=phone:5699
5700=phone:5700
5701=phone:5701
5702=phone:5702
5703=phone:5703
5704=phone:5704
5705=phone:5705
5706=phone:5706
5707=phone:5707
5708=phone:5708
5709=phone:5709
5710=phone:5710
5711=phone:5711
5712=phone:5712
5713=phone:5713
5714=phone:5714
5715=phone:5715
5716=phone:5716
5717=phone:5717
5718=phone:5718
5719=phone:5719
5720=phone:5720
5721=phone:5721
5722=phone:5722
5723=phone:5723
5724=phone:5724
5725=phone:5725
5726=phone:5726
5727=phone:5727
5728=phone:5728
5729=phone:5729
5730=phone:5730
5731=phone:5731
5732=phone:5732
5733=phone:5733
5734=phone:5734
5735=phone:5735
5736=phone:5736
5737=phone:5737
5738=phone:5738
5739=phone:5739
5740=phone:5740
5741=phone:5741
5742=phone:5742
5743=phone:5743
5744=phone:5744
5745=phone:5745
5746=phone:5746
5747=phone:5747
5748=phone:5748
5749=phone:5749
5750=phone:5750
5751=phone:5751
5752=phone:5752
5753=phone:5753
5754=phone:5754
5755=phone:5755
5756=phone:5756
5757=phone:5757
5758=phone:5758
5759=phone:5759
5760=phone:5760
5761=phone:5761
5762=phone:5762
5763=phone:5763
5764=phone:5764
5765=phone:5765
5766=phone:5766
5767=phone:5767
5768=phone:5768
5769=phone:5769
5770=phone:5770
5771=phone:5771
5772=phone:5772
5773=phone:5773
5774=phone:5774
5775=phone:5775
5776=phone:5776
5777=phone:5777
5778=phone:5778
5779=phone:5779
5780=phone:5780
5781=phone:5781
5782=phone:5782
5783=phone:5783
5784=phone:5784
5785=phone:5785
5786=phone:5786
5787=phone:5787
5788=phone:5788
5789=phone:5789
5790=phone:5790
5791=phone:5791
5792=phone:5792
5793=phone:5793
5794=phone:5794
5795=phone:5795
5796=phone:5796
5797=phone:5797
5798=phone:5798
5799=phone:5799
5800=phone:5800
5801=phone:5801
5802=phone:5802
5803=phone:5803
5804=phone:5804
5805=phone:5805
5806=phone:5806
5807=phone:5807
5808=phone:5808
5809=phone:5809
5810=phone:5810
5811=phone:5811
5812=phone:5812
5813=phone:5813
5814=phone:5814
5815=phone:5815
5816=phone:5816
5817=phone:5817
5818=phone:5818
5819=phone:5819
5820=phone:5820
5821=phone:5821
5822=phone:5822
5823=phone:5823
5824=phone:5824
5825=phone:5825
5826=phone:5826
5827=phone:5827
5828=phone:5828
5829=phone:5829
5830=phone:5830
5831=phone:5831
5832=phone:5832
5833=phone:5833
5834=phone:5834
5835=phone:5835
5836=phone:5836
5837=phone:5837
5838=phone:5838
5839=phone:5839
5840=phone:5840
5841=phone:5841
5842=phone:5842
5843=phone:5843
5844=phone:5844
5845=phone:5845
5846=phone:5846
5847=phone:5847
5848=phone:5848
5849=phone:5849
5850=phone:5850
5851=phone:5851
5852=phone:5852
5853=phone:5853
5854=phone:5854
5855=phone:5855
5856=phone:5856
5857=phone:5857
5858=phone:5858
5859=phone:5859
5860=phone:5860
5861=phone:5861
5862=phone:5862
5863=phone:5863
5864=phone:5864
5865=phone:5865
5866=phone:5866
5867=phone:5867
5868=phone:5868
5869=phone:5869
5870=phone:5870
5871=phone:5871
5872=phone:5872
5873=phone:5873
5874=phone:5874
5875=phone:5875
5876=phone:5876
5877=phone:5877
5878=phone:5878
5879=phone:5879
5880=phone:5880
5881=phone:5881
5882=phone:5882
5883=phone:5883
5884=phone:5884
5885=phone:5885
5886=phone:5886
5887=phone:5887
5888=phone:5888
5889=phone:5889
5890=phone:5890
5891=phone:5891
5892=phone:5892
5893=phone:5893
5894=phone:5894
5895=phone:5895
5896=phone:5896
5897=phone:5897
5898=phone:5898
5898=phone:5898
5900=phone:5900
5901=phone:5901
5902=phone:5902
5903=phone:5903
5904=phone:5904
5905=phone:5905
5906=phone:5906
5907=phone:5907
5908=phone:5908
5909=phone:5909
5910=phone:5910
5911=phone:5911
5912=phone:5912
5913=phone:5913
5914=phone:5914
5915=phone:5915
5916=phone:5916
5917=phone:5917
5918=phone:5918
5919=phone:5919
5920=phone:5920
5921=phone:5921
5922=phone:5922
5923=phone:5923
5924=phone:5924
5925=phone:5925
5926=phone:5926
5927=phone:5927
5928=phone:5928
5929=phone:5929
5930=phone:5930
5931=phone:5931
5932=phone:5932
5933=phone:5933
5934=phone:5934
5935=phone:5935
5936=phone:5936
5937=phone:5937
5938=phone:5938
5939=phone:5939
5940=phone:5940
5941=phone:5941
5942=phone:5942
5943=phone:5943
5944=phone:5944
5945=phone:5945
5946=phone:5946
5947=phone:5947
5948=phone:5948
5949=phone:5949
5950=phone:5950
5951=phone:5951
5952=phone:5952
5953=phone:5953
5954=phone:5954
5955=phone:5955
5956=phone:5956
5957=phone:5957
5958=phone:5958
5959=phone:5959
5960=phone:5960
5961=phone:5961
5962=phone:5962
5963=phone:5963
5964=phone:5964
5965=phone:5965
5966=phone:5966
5967=phone:5967
5968=phone:5968
5969=phone:5969
5970=phone:5970
5971=phone:5971
5972=phone:5972
5973=phone:5973
5974=phone:5974
5975=phone:5975
5976=phone:5976
5977=phone:5977
5978=phone:5978
5979=phone:5979
5980=phone:5980
5981=phone:5981
5982=phone:5982
5983=phone:5983
5984=phone:5984
5985=phone:5985
5986=phone:5986
5987=phone:5987
5988=phone:5988
5989=phone:5989
5990=phone:5990
5991=phone:5991
5992=phone:5992
5993=phone:5993
5994=phone:5994
5995=phone:5995
5996=phone:5996
5997=phone:5997
5998=phone:5998
5999=phone:5999

[Gatekeeper::Auth]
FileIPAuth=required;RRQ,Setup

[FileIPAuth]
include=/etc/gkconfig/{{ ansible_hostname }}.ini

