[Unit]
Description=Gatekeeper
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/sbin/gnugk/gnugk -c /etc/gkconfig/{{ ansible_hostname }}.ini

[Install]
WantedBy=multi-user.target

